.main {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.media-wrapper {
  display: flex;
  gap: 10px;
}

.media-title {
  font-size: var(--small);
  font-family: var(--bold-font-family);
}

.demo-video,
.mobile-images {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.demo-video {
  width: 66%;
}

.mobile-images {
  width: 34%;
}

.images-flex-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.sub-container {
  display: flex;
  gap: 0.5rem;
}

.mobile-images-style {
  border-radius: 0.75rem;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  list-style: circle;
  margin: 0;
  padding: 0 20px;
}

.list-item {
  list-style: circle;
}

.testing-wrapper {
  display: flex;
  gap: 0.5rem;
}
