.main {
  display: flex;
  gap: 10px;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 70%;
}

.video {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.media-title {
  font-size: var(--small);
  font-family: var(--bold-font-family);
}

.links {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.description-list {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.testing-wrapper {
  display: flex;
  gap: 0.5rem;
}

.right {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
  width: 30%;
}

.half {
  display: flex;
  gap: 0.25rem;
}

.mobile-images-style {
  border-radius: 0.75rem;
}
