.main {
  display: flex;
  gap: 10px;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 74%;
}

.video {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.media-title {
  font-size: var(--small);
  font-family: var(--bold-font-family);
}

.links {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.description-list {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  margin: 0;
}

.list-item {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.description-icon {
  color: var(--dark-golden);
  font-size: 12px;
}

.testing-wrapper {
  display: flex;
  gap: 0.5rem;
}

.link {
  text-decoration: none;
  color: var(--blue);
  font-family: var(--bold-italic-font-family);
  margin-left: 0.25rem;
}

.link-icon {
  font-size: 12px;
  color: var(--violet);
  margin-right: 0.25rem;
}

.right {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  width: 26%;
}

.right-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 0.6rem;
}

.half {
  display: flex;
  gap: 0.5rem;
}

.mobile-images-style {
  border-radius: 0.75rem;
}
