.footer {
  display: flex;
  justify-content: space-between;
}

.education {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex: 1;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.university-title {
  font-size: var(--small);
  color: var(--medium-gray);
  font-family: var(--bold-italic-font-family);
}

.education-year {
  font-size: var(--small);
  color: var(--gray);
}

.education-title {
  font-size: var(--small);
  font-family: var(--bold-font-family);
  display: flex;
  gap: 0.25rem;
  margin-top: 0.25rem;
}

.certificates {
  display: grid;
  grid-template-columns: repeat(6, 76px);
  gap: 0.15rem;
  margin-top: auto;
  margin-bottom: auto;
}
.certificate-thumbnail {
  width: 120px;
}
.certificate-image {
  aspect-ratio: 1/2;
}
