html {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "tisaSansProLight";
  src: url("./assets/fonts/tisaSansProLight.ttf") format("truetype");
}

@font-face {
  font-family: "tisaSansProBold";
  src: url("./assets/fonts/tisaSansProMedium.ttf") format("truetype");
}

@font-face {
  font-family: "tisaSansProBoldItalic";
  src: url("./assets/fonts/tisaSansProMediumItalic.ttf") format("truetype");
}

:root {
  --main-font-family: tisaSansProLight, Arial, sans-serif, -apple-system,
    ui-sans-serif, system-ui;
  --bold-font-family: tisaSansProBold, Arial, sans-serif, -apple-system,
    ui-sans-serif, system-ui;
  --bold-italic-font-family: tisaSansProBoldItalic, Arial, sans-serif,
    -apple-system, ui-sans-serif, system-ui;
}

:root {
  --small: 0.875rem;
  --medium: 1rem;
  --large: 1.75rem;
}

:root {
  --white: #ffffff;
  --black: #000000;
  --golden: #fecc4f;
  --dark-golden: #cba33f;
  --dark-blue: #1a84b6;
  --blue: #21a5e3;
  --light-blue: #e9f6fc;
  --violet: #cb9bf7;
  --gray: #4c4a49;
  --medium-gray: #878685;
  --light-gray: #cbc9c9;
}
